<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" media="all"
	href="css/mystyle.css" th:href="@{css/mystyle.css}" />

<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<header>
	    <div class="header-left">
	        <span>Welcome back</span>
	        <span class="header-username" th:text="${session.user.username}">user</span>
	    </div>
	    <div class="header-right">
	        <a th:href="@{/ViewAlbum(albumId=${albumId}, pageNumber=${pageNumber})}">
	            <img src="icons/back.png" class="icon">
	        </a>	
	        <a href="ViewHome">
	            <img src="icons/home.png" class="icon">
	        </a>	
	        <a href="Logout" class="logout-link">Logout</a>
	    </div>
	</header>
	<div class="image-container">

	    <!-- MAIN CARD -->
	    <div class="image-card">
	        <span class="image-title" th:text="${clickedImage.title}">title</span>
	
	        <img th:src="@{/imageGetter(imageName=${clickedImage.path})}" class="big">
	
	        <div class="image-info">
	            <span class="image-description" th:text="${clickedImage.description}">description</span>
	            <span class="image-user" th:text="'Image uploaded by '+${clickedImage.user.username}">user</span>
	            <span class="date" th:text="${#dates.format(clickedImage.creation_date, 'dd/MM/yyyy')}">creation date</span>
	
	            <a th:if="${session.user.username == clickedImage.user.username}" 
	               th:href="@{/DeleteImage(imageId=${clickedImage.id})}">
	                <img src="icons/trash.png" class="trash">
	            </a>
	        </div>
	    </div>
	
	    <!-- COMMENTS -->
	    <div class="comments-container">
	        <div class="comment" th:each="c:${comments}">
	            <div class="comment-header">
	                <span class="username" th:text="${c.user.username}">user</span>
	                <span class="date" th:text="${#dates.format(c.date, 'dd/MM/yyyy')}"></span>
	            </div>
	            <p class="comment-text" th:text="${c.text}"></p>
	        </div>
	    </div>
	
	</div>
			
			
		<!-- In js action deve essere vuota!!!!!!!!!!!!! se no mi reindirizza alla servlet -->
		<form th:action="@{/WriteComment(imageId=${clickedImage.id}, albumId=${albumId}, pageNumber=${pageNumber})}" method="post" class="over">
			<input class="round" type="text" name="text" placeholder="Insert comment here" required>
			<button type="submit" value="send" class="btn btn-primary">Send</button>
		</form>
</body>
</html>